body{
    background-color: #94B49F;
}

.infoColor{
    color:white;
    background-color: green;
}

.img{
    width : 16em;
    height : 20em; 
    border-radius: 3em;
}

.container{

 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}

.innerDivstyle{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #1F4690;
padding : 2em;
margin: 1em;
color:white;
}
